# Laravel
.env
.local.env
.production.env
vendor/
node_modules/
public/storage
public/hot
storage/*.key
npm-debug.log
yarn-error.log


# Build files
public/css/
public/js/
public/mix-manifest.json
public/mix.js
public/mix.js.map
public/mix.css
public/mix.css.map
public/build

# IDE/Editor specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
.kateproject
.kateconfig
*.tmproj
*.tmproject
*.vagrant


# seed data
seed/*.csv

.DS_Store


# Playwright
playwright-report/
playwright-video/
playwright-trace/
test-results/


meili_data/
