# Laravel
.env
vendor/
node_modules/
public/storage
public/hot
storage/*.key
npm-debug.log
yarn-error.log

# Inertia.js
resources/js/components/
resources/js/pages/
resources/js/Layouts/
resources/js/Shared/
resources/js/Plugins/
resources/js/Utils/
resources/js/app.js
resources/js/bootstrap.js
resources/js/routes.js
resources/js/entry-client.js
resources/js/entry-server.js
resources/js/entry-server.js.map
resources/js/entry-client.js.map

# Build files
public/css/
public/js/
public/mix-manifest.json
public/mix.js
public/mix.js.map
public/mix.css
public/mix.css.map

# IDE/Editor specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
.kateproject
.kateconfig
*.tmproj
*.tmproject
*.vagrant


# seed data
seed/*.csv

.DS_Store
