.notification-message {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    /* -webkit-line-clamp: auto; */
                    /* max-height: 2.6em; /* 2 lines * 1.1em line height */
                    /* line-height: 1.1em;  */
                    /* margin-bottom: 8px; */
                }
                .tab-button {
                    margin-left: 10px;
                    border-bottom: 2px solid transparent;
                    color: gray;
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 0;
                    text-decoration: none;
                    position: relative;
                }
                .tab-button.active {
                    border-bottom: 2px solid black;
                    color: black;
                }
                .orange-circle {
                    position: absolute;
                    top: 0;
                    right: -10px;
                    width: 7px;
                    height: 7px;
                    background-color: #FF4500;
                    border-radius: 50%;
                    margin-top: 10px; /* Tailwind equivalent of mt-4 */
                }
