.yarl__slide_captions_container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 14px;
    z-index: 99999;
}

.yarl__slide_wrapper {
    height: calc(100% - 100px) !important;
}
